<%- include('../partials/header') %>
<!-- The home page for the Message Board -->

<p>
	<h3 id="welcomeMessageMessageBoard">Message Board (Don't Be THAT Person)</h3>
	<h5>Need help looking for a specific album, or just want some suggestions? One of our many other users can help out. (We'll chime in, too!)</h5><br>
	<h5>We reserve the right to delete any inappropriate posts or replies, but we'd rather not do that :)</h5><br>
	<h5>Spot any errors or bugs in our albums? Start your post with "ERR" and we'll jump on it.</h5><br>
	<h5>Need to report any questionable users or content? <a id="helpLink" href="https://github.com/bg-write">We're here for you.</a></h5><br>
	<form action="/messages" method="POST">
		<div class="form-group">
			<input
				type="text"
				class="form-control"
				aria-describedby="message"
				name="title"
				placeholder="What do you want to know ..."
				required
			/>
		</div>
	<button type="submit" class="btn btn-success">Create Post</button>
	</form><br>
</p>
<div>
	<h5>RECENT POSTS</h5>
	<% messages.forEach(message => { %>
	<div class="card">
		<div class="card-body">
			<h4 class="card-title"><%= message.title %></h4>
			<p>
				By <%= message.postedBy %><br>
				Originally posted: <%= message.createdAt.toLocaleString()%>
			</p>
			<a href="/messages/<%= message._id %>" class="btn btn-primary"
				>See Post</a
			>
		</div>
	</div>
</div>
<% }) %> <%- include('../partials/footer') %>
