<%- include('../partials/header') %>
<p>
<h2>"<%= message.title %>"</h2>
	Original post: <b><%= message.postedBy %></b> [<%=
	message.createdAt.toLocaleString() %>]
</p>

<p>
<h6><u>REPLIES</u></h6>
<% message.replies.forEach(reply => { %>
	"<%= reply.message %>" - <b><%= reply.postedBy %></b> [<%= reply.createdAt.toLocaleString() %>]
</p>
<% }) %>
<form action="/messages/<%= message._id %>" method="POST">
	<div class="form-group">
		<input
			type="text"
			class="form-control"
			aria-describedby="message"
			name="message"
			placeholder="Enter reply ..."
			required
		/>
	</div>
	<button type="submit" class="btn btn-primary">Send Reply</button>
</form>

<!-- Return to previous screen -->
<a href="/messages" class="btn btn-info" role="button">Return to Board</a>

<!-- If I want to delete the entire post ... Only I should be able to do this? -->
<form action="/messages/<%= message.replies._id %>?_method=DELETE" method="POST">
	<button type="submit" class="btn btn-primary">DELETE POST</button>
</form>

<%- include('../partials/footer') %>
