<%- include('../partials/header') %>

<h3>Message Details</h3>
<h4><%= message.title %></h4>
<h5>
	Posted on <%= message.createdAt.toLocaleString() %> - <%= message.postedBy %>
	<img id="avatarPhoto" width="30" src="<%= message.avatar %>" alt="" />
</h5>

<% message.replies.forEach(reply => { %>
<h6>
	<%= reply.message %> - <%= reply.postedBy %>
	<img id="avatarPhoto" width="25" src="<%= reply.avatar %>" alt="" />
</h6>

<% }) %>

<form action="/messages/<%= message._id %>" method="POST">
	<div class="form-group">
		<input
			type="text"
			class="form-control"
			aria-describedby="message"
			name="message"
			placeholder="Enter reply..."
		/>
	</div>
	<button type="submit" class="btn btn-primary">Reply</button>
</form>

<a href="/messages" class="btn btn-info" role="button">Return to Board</a>

<form action="/messages/<%= message._id %>?_method=DELETE" method="POST">
	<button type="submit" class="btn btn-primary">DELETE POST</button>
</form>

<%- include('../partials/footer') %>
