<%- include('../partials/header') %>
<!-- My "My Profile" page-->
<h3 id="profileTitle"><%= title %></h3>

<!-- The container holding both tabs -->
<div id="profileContainer" style="width: 37rem">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<!-- This is the info for the 'my info' tab -->
		<li class="nav-item">
			<a
				class="nav-link active"
				id="profileinfo-tab"
				data-toggle="tab"
				href="#profileinfo"
				role="tab"
				aria-controls="profileinfo"
				aria-selected="true"
				>My Info</a
			>
		</li>
		<!-- This is the info for the 'update to-do's' tab -->
		<li class="nav-item">
			<a
				class="nav-link"
				id="updateinfo-tab"
				data-toggle="tab"
				href="#updateinfo"
				role="tab"
				aria-controls="updateinfo"
				aria-selected="false"
				>Update To-Do's</a
			>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<!-- This is the card for the 'info' tab -->
		<div
			class="tab-pane fade show active"
			id="profileinfo"
			role="tabpanel"
			aria-labelledby="profileinfo-tab"
		>
			<div class="card-body">
				<h5 class="card-title"><%= user.name %></h5>
				<p class="card-text">Email: <%= user.email %></p>
				<p class="card-text">To-Do's: <%= user.bio %></p>
			</div>
		</div>
		<!-- This is the card for the 'update' tab -->
		<div
			class="tab-pane fade"
			id="updateinfo"
			role="tabpanel"
			aria-labelledby="updateinfo-tab"
		>
			<div class="card-body">
				<!-- The 'Update' route -->
				<form action="/users/profile?_method=PUT" method="POST">
					<div class="form-row">
						<div class="col-md-12">
							<label for="bio">To-Do's</label>
							<textarea class="form-control" id="bio" rows="7" name="bio"><%= user.bio %></textarea>
						</div>
					</div>
				<button type="submit" class="btn btn-warning">Update</button>
				</form>
			</div>
		</div>
	</div>




	
</div>

<%- include('../partials/footer') %>
