<%- include('../partials/header') %>

<h3><%= title %></h3>

<div class="card" style="width: 18rem">
	<img
		id="avatarPhoto"
		style="height: 18rem"
		class="card-img-top"
		src="<%= userInfo.avatar ? userInfo.avatar : 'http://theoldreader.com/kittens/300/300/'  %>"
		alt="Card image cap"
	/>
	<div class="card-header"></div>
	<div class="card-body">
		<h5 class="card-title"><%= userInfo.name %></h5>
		<p class="card-text">
			Joined: <%= userInfo.createdAt.toLocaleString().split(',')[0] %>
		</p>
		<p class="card-text">
			Email: <a href="mailto:<%= userInfo.email %>"><%= userInfo.email %></a>
		</p>
		<p class="card-text">Saved Albums:</p>
		<% albums.forEach(album => { %>
		<a href="/albums/<%= album.id %>"><%= album.title %></a><br />
		<% }) %><br />
		<% if (!userInfo._id.equals(user._id) &&
		!user.friends.includes(userInfo._id)) { %>
		<a href="/users/<%= userInfo._id %>/friend" class="btn btn-primary"
			>Add Friend</a
		>
		<% } %> <% if (!userInfo._id.equals(user._id) &&
		user.friends.includes(userInfo._id)) { %>
		<a href="/users/<%= userInfo._id %>/unfriend" class="btn btn-primary"
			>Remove Friend</a
		>
		<% } %>
	</div>
</div>

<%- include('../partials/footer') %>
