<%- include('../partials/header') %>

<h3><%= title %></h3>

<!-- For every album already in My Collection and how I wish to style it ... -->
<% albums.forEach(album => { %>
<div class="card" style="width: 20rem">
	<div class="card-body">
		<div>
			<h5 class="card-title">
				<%= album.title ? album.title : '' %> (<%= album.year ? album.year : ''
				%>)
			</h5>
		</div>
		<div>
			<!-- If album is a 'Masters', return MASTERS button -->
			<% if (album.resource_url.includes('masters')) { %>
			<a href="/albums/<%= album.id %>" class="btn btn-primary">MASTERS</a>
			<% } %>

			<!-- If album is a 'Releases', return RELEASES button -->
			<% if (album.resource_url.includes('releases')) { %>
			<a href="/albums/<%= album.id %>" class="btn btn-primary">RELEASES</a>
			<% } %>

			<!-- If album is a 'Artists', return MASTERS button -->
			<% if (album.resource_url.includes('artists')) { %>
			<a href="/albums/<%= album.id %>" class="btn btn-primary">ARTISTS</a>
			<% } %>

			<!-- If album is a 'Labels', return MASTERS button -->
			<% if (album.resource_url.includes('labels')) { %>
			<a href="/albums/<%= album.id %>" class="btn btn-primary">LABELS</a>
			<% } %>
		</div>
	</div>
</div>
<% }) %> <%- include('../partials/footer') %>
