<%- include('../partials/header') %>

<h3>Album Collection</h3>

<% albums.forEach(album => { %>
<div class="card" style="width: 18rem">
	<img
		src="<%= album.cover_image ? album.cover_image : 'https://thumbs.dreamstime.com/z/funny-dog-wearing-wig-female-clothes-white-background-48441429.jpg' %>"
		class="card-img-top"
		alt="..."
	/>
	<div class="card-body">
		<h5 class="card-title"><%= album.title ? album.title : 'N/A' %></h5>
		<h6 class="card-text"><%= album.year ? album.year : 'N/A' %></h6>
		<!-- This is just for testing and comparing -->
		<h6 class="card-text">
			resource_url: <%= album.resource_url ? album.resource_url : 'N/A'%>
		</h6>
		<!-- the button to the API I want to show more of -->
		<a href="/albums/<%= album.id %>" class="btn btn-primary">More Info</a>
	</div>
</div>
<% }) %> <%- include('../partials/footer') %>
