<%- include('../partials/header') %>

<h3><%= title %></h3>

<!-- When searching for a new album ...-->
<form action="/albums/search" method="POST">
	<div class="form-row">
		<div class="col-md-4">
			<input
				type="text"
				class="form-control"
				name="query"
				placeholder="What are you trying to find ..."
			/>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Search</button>
</form>
<!-- How the called API output looks on screen -->
<% if (results) { %> <% results.forEach(album => { %>

<!-- If I want to delete a card as needed, do it right here, put the if statement and wrap up, and return nothing -->

<div class="card" style="width: 18rem">
	<img
		src="<%= album.cover_image ? album.cover_image : 'https://thumbs.dreamstime.com/z/funny-dog-wearing-wig-female-clothes-white-background-48441429.jpg' %>"
		class="card-img-top"
		alt="..."
	/>
	<div class="card-body">
		<h3 class="card-title"><%= album.title ? album.title : 'N/A' %></h3>
		<h5 class="card-text"><%= album.year ? album.year : '' %></h5>
		<!-- This is just for testing and comparing -->
		<h6 class="card-text">
			resource_url: <%= album.resource_url ? album.resource_url : 'N/A' %>
		</h6>
		<h6 class="card-text">id: <%= album.id ? album.id : 'N/A' %></h6>

		<!-- If album is a 'Masters', return MASTERS button -->
		<% if (album.resource_url.includes('masters')) { %>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">MASTERS</a>
		<% } %>

		<!-- If album is a 'Releases', return RELEASES button -->
		<% if (album.resource_url.includes('releases')) { %>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">RELEASES</a>
		<% } %>

		<!-- If album is a 'Artists', return MASTERS button -->
		<% if (album.resource_url.includes('artists')) { %>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">ARTISTS</a>
		<% } %>

		<!-- If album is a 'Labels', return MASTERS button -->
		<% if (album.resource_url.includes('labels')) { %>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">LABELS</a>
		<% } %>
	</div>
</div>
<% }) %> <% } %> <%- include('../partials/footer') %>
