<%- include('../partials/header') %>

<h3><%= title %></h3>

<!-- When searching for a new album ...-->
<form action="/albums/search" method="POST">
	<div class="form-row">
		<div class="col-md-4">
			<input
				type="text"
				class="form-control"
				name="query"
				placeholder="What are you trying to find ..."
			/>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Search</button>
</form>
<!-- How the called API output looks on screen -->
<% if (results) { %> <% results.forEach(album => { %>
<div class="card" style="width: 18rem">
	<img
		src="<%= album.cover_image ? album.cover_image : 'https://thumbs.dreamstime.com/z/funny-dog-wearing-wig-female-clothes-white-background-48441429.jpg' %>"
		class="card-img-top"
		alt="..."
	/>
	<div class="card-body">
		<h3 class="card-title"><%= album.title ? album.title : 'N/A' %></h3>
		<h5 class="card-text"><%= album.year ? album.year : '' %></h5>
		<!-- This is just for testing and comparing -->
		<h6 class="card-text">
			resource_url: <%= album.resource_url ? album.resource_url : 'N/A' %>
		</h6>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">More Info</a>

		<!-- My sandbox below to make the search work ... -->

		<!-- Ternary logic -->
		<h5>
			Masters? <%= album.resource_url.includes('masters') ? 'YES!' :
			'Nope' %>
		</h5>
		<h5>
			Releases? <%= album.resource_url.includes('releases') ? 'YES!' :
			'Nope' %>
		</h5>
		<h5>
			Artists? <%= album.resource_url.includes('artists') ? 'YES!' :
			'Nope' %>
		</h5>
		<h5>
			Labels? <%= album.resource_url.includes('labels') ? 'YES!' :
			'Nope' %>
		</h5>
		
		


		<!-- If album is a 'Masters', return a MASTERS button .... -->
		<% if (album.resource_url.includes('masters')) { %>
		<a href="/albums/<%= album.id %>" class="btn btn-primary">MASTERS</a>
		<% } else { %>
		<a href="#" class="btn btn-primary">SAD</a>
		<% } %>
	</div>
</div>
<% }) %> <% } %> <%- include('../partials/footer') %>
