<%- include('../partials/header') %>

<!-- When searching for a new album ...-->
<h1 id="welcomeMessage">
	<%= user ? `Hello, ${user.name}! Let's look for an album.` : "You're about to hear something great." %>
</h1>
<h6 id="newSubtitle">(Artist, singles, and label search coming soon!)</h6>

<form action="/albums/search" method="POST">
	<div class="form-row">
		<div id="searchBar" class="col-7">
			<input
				type="text"
				class="form-control"
				name="query"
				placeholder="Prove Bono wrong ..."
			>
		</div>
	</div>
	<button id="searchButton" type="submit" class="btn-lg btn-success">Search</button>
</form>
<!-- How the called API output looks on screen -->
<% if (results) { %> <% results.forEach(album => { %>
<!-- ICEBOX This IF Statement allows me to return only MASTERS, based on my API call. In the future, I want to make my search more powerful to also render the different returns for RELEASES, ARTISTS, and LABELS. For now, this will do. -->
<% if (album.resource_url.includes('masters')) { %>
	<div id="albumSearchResults" class="card" style="width: 36rem">
	<img
		src="<%= album.cover_image ? album.cover_image : 'https://thumbs.dreamstime.com/z/funny-dog-wearing-wig-female-clothes-white-background-48441429.jpg' %>"
		class="card-img-top"
		id="albumCoverImage"
		alt="album cover"
	/>
	<div class="card-body">
		<h1 class="card-title"><%= album.title ? album.title : 'N/A' %></h1>
		<h2 class="card-text"><%= album.year ? album.year : '' %></h2>
		<br>
		<a href="/albums/<%= album.id %>" class="btn-lg btn-primary">MORE INFO</a>
	</div>
</div>
<% } else { %> <% return '' %> <% } %> <% }) %> <% } %> <%-
include('../partials/footer') %>
