<%- include('../partials/header') %>

<h3><%= title %></h3>
<form action="/albums/search" method="POST">
	<div class="form-row">
		<div class="col-md-4">
			<input
				type="text"
				class="form-control"
				name="query"
				placeholder="Search for album..."
			/>
		</div>
	</div>
	<button type="submit" class="btn btn-success">Search</button>
</form>
<!-- How the called API output looks on screen -->
<% if (results) { %> <% results.forEach(album => { %>
<div class="card" style="width: 18rem">
	<!-- Album cover -->
	<img src="<%= album.cover_image %>" class="card-img-top" alt="..." />
	<div class="card-body">
		<h5 class="card-title"><%= album.title %></h5>
		<p class="card-text">Released: <%= album.year %></p>
		<p class="card-text">Label: <%= album.label %></p>
		<p class="card-text">Genre: <%= album.genre %></p>
		<!-- This is a button that we'll use to navigate to the game's 'show' page.  We still need to fill in the route -->
		<a href="" class="btn btn-primary">Details</a>
	</div>
</div>
<% }) %> <% } %> <%- include('../partials/footer') %>
