<%- include('../partials/header') %>

<!-- The more details that pop up when you click on more info for an album -->
<div class="card" style="width: 36rem">
	<div class="tab-content" id="myTabContent">
		<div
			class="tab-pane fade show active"
			id="albuminfo"
			role="tabpanel"
			aria-labelledby="albuminfo-tab"
		>
			<div class="card-body">
				<h1><%= album.title ? album.title : ''%></h1>
				<H2>(ARTISTS)</H2>
				Members: <h6><%= album.members %></h6> <!-- Returns multiple objects --> 
				Aliases: <h6><%= album.aliases %></h6> <!-- Returns multiple objects --> 
				Name Variations: <h6><%= album.namevariations %></h6>
				URLs: <h6><%= album.urls %></h6>
				Profile: <h6><%= album.profile %></h6>
				Name: <h6><%= album.name %></h6>
				
				<H2>(MASTERS)</H2>
				Genres: <h6><%= album.genres %></h6>
				Discogs Link: <h6><%= album.uri %></h6>
				Styles: <h6><%= album.styles %></h6>
				Year: <h6><%= album.year %></h6>

				Tracklist: <!-- Returns multiple objects, still check this! --> 
				<% album.tracklist.forEach(t => { %>
					<%= t.position; %>
					<%= t.title; %>
					<% t.extraartists.forEach(ea => { %>
						<%= ea.name; %>
						<%= ea.role; %>
				<%	}) %>
				<% }) %>
				
				Artists:
				<% album.artists.forEach(a => { %>
					<%= a.name; %>
				<% }) %>

				Notes: <h6><%= album.notes %></h6>

				Videos:
				<% album.videos.forEach(v => { %>
					<%= v.uri; %>
					<%= v.title; %>
					<%= v.description; %>
				<% }) %>
				
				<H2>(RELEASES)</H2>
				Extra Artists: <h6><%= album.extraartists %></h6> <!-- Returns multiple objects --> 
				Released: <h6><%= album.released %></h6>
				Country: <h6><%= album.country %></h6>
				Labels: <h6><%= album.labels %></h6> <!-- Returns multiple objects --> 
				Artists (sort): <h6><%= album.artists_sort %></h6>
				
			</div>
		</div>

	<!-- Button to add/remove am album to/from our collection -->
	<% if (favoritedBy.some(u => {return u.email === user.email})) { %>
		<form action="/albums/<%= album.id %>/collection?_method=DELETE" method="POST">
		  <% } else { %>
		<form action="/albums/<%= album.id %>/collection" method="POST">
	  <% } %>
	  <input type="text" hidden name="cover_image" value="<%= album.cover_image %>">
	  <input type="text" hidden name="thumb" value="<%= album.thumb %>">
		<input type="text" hidden name="title" value="<%= album.title %>">
		<input type="text" hidden name="year" value="<%= album.year %>">
		<input type="text" hidden name="id" value="<%= album.id %>">
		<input type="text" hidden name="resource_url" value="<%= album.resource_url %>">
		<button class="btn btn-warning"><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
		</form>
</div>
<%- include('../partials/footer') %>
