<%- include('../partials/header') %>
<!-- The more details that pop up when you click on more info for an album -->

<div class="card card-body" id="fullAlbumDetails">
	<!-- Everything that's going to come up no matter what .get is ued -->
	<div>
	<% album.artists.forEach(a => { %>
		<h1><%= a.name ? a.name : '' %></h1>
	<% }) %>
		<i><h1><%= album.title ? album.title : ''%></h1></i>
		<h1><%= album.year ? album.year : '' %></h1>
		<h6>Read more on <a href="<%= album.uri %>">Discogs</a></h6>
	</div>

	<!-- Button to add/remove am album to/from our collection -->
	<% if (favoritedBy.some(u => {return u.email === user.email})) { %>
	<form action="/albums/<%= album.id %>/collection?_method=DELETE" method="POST">
		<% } else { %>
	<form action="/albums/<%= album.id %>/collection" method="POST">
		<% } %>
		<input type="text" hidden name="cover_image" value="<%= album.cover_image %>">
	  	<input type="text" hidden name="thumb" value="<%= album.thumb %>">
		<input type="text" hidden name="title" value="<%= album.title %>">
		<input type="text" hidden name="year" value="<%= album.year %>">
		<input type="text" hidden name="id" value="<%= album.id %>">
		<input type="text" hidden name="resource_url" value="<%= album.resource_url %>">
		<button class="btn btn-lg"><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
	</form>
	<br>

<!-- ICEBOX: Everything that comes up below is connected to the "masters" .get API function. In the future, with more time, I want to be able to render the options for "Artists", "Releases", and "Labels" requests; check each Postman link via Discogs API notation for future reference. -->
<!-- ICEBOX Get album covers to show up too (different API gets)-->
<p>
	<div>
		<b>Genre</b> <h6><%= album.genres ? album.genres.toLocaleString().split(',').join(', ') : 'None Provided' %></h6>
		<b>Style</b> <h6><%= album.styles ? album.styles.toLocaleString().split(',').join(', ') : 'None Provided' %></h6>
		<b>Liner Notes</b> <h6><%= album.notes ? album.notes.toLocaleString().split(',').join(', ').replace(/\s*\[.*?\]\s*/g, ' DISCOGS-LINK ') : 'None Provided' %></h6>
	</div>
</p>

	<!-- Returning tracklist-->
	<u><b>Vinyl Tracklisting: performers, credits, and videos provided when provided</b></u><br>
		<% album.tracklist.forEach(t => { %>
			<div>
				<p>
					<%= t.position; %>: "<%= t.title; %>"
					<br>
					<% if ("extraartists" in t) { %>
					<% t.extraartists.forEach(ea => { %>
					- <%= ea.role %> - <%= ea.name %>
					<br>
					<% }) %>
				</p>
			</div>
			<% } %>
		<% }) %>
		<br>

		<!-- Returning videos -->
		<% if ("videos" in album) { %>
		<% album.videos.forEach(v => { %>
			<div>
				<p>
					<%= v.title ? v.title : '' %>
				</p>
				<p>
					<iframe width="400" height="315"
						src="https://www.youtube.com/embed/<%= v.uri.slice(-11) %>">
					</iframe>
				</p>
			</div>
			<br>
		<% }) %>
	<% } %>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>
