<%- include('../partials/header') %>

<!-- The more details that pop up when you click on more info for an album -->
<div class="card" style="width: 36rem">
	<div class="tab-content" id="myTabContent">
		<div
			class="tab-pane fade show active"
			id="albuminfo"
			role="tabpanel"
			aria-labelledby="albuminfo-tab"
		>
			<div class="card-body">
				<!-- Everything that's going to come up no matter what .get is ued -->
				<div>
					<h1><%= album.title ? album.title : ''%> (<%= album.year ? album.year : '' %>)</h1>
					Read more on <a href="<%= album.uri %>">Discogs</a>
					</div>

				<!-- Everything that comes up connected to the "artists" .get -->
				<H2>(ARTISTS)</H2>
				Members: <h6><%= album.members %></h6> <!-- Returns multiple objects --> 
				Aliases: <h6><%= album.aliases %></h6> <!-- Returns multiple objects --> 
				Name Variations: <h6><%= album.namevariations %></h6>
				URLs: <h6><%= album.urls %></h6>
				Profile: <h6><%= album.profile %></h6>
				Name: <h6><%= album.name %></h6>
				

				<!-- Everything that comes up connected to the "masters" .get -->
				<H2>(MASTERS)</H2>
				Artists:
				<% album.artists.forEach(a => { %>
					<h6><%= a.name ? a.name : '' %></h6>
				<% }) %>

				Genres: <h6><%= album.genres ? album.genres : '' %></h6>

				Styles: <h6><%= album.styles ? album.styles : '' %></h6>

				Liner Notes: <h6><%= album.notes ? album.notes : '' %></h6>

				<u><h6>Tracklist (A/B Sides):</h6></u>
				<% album.tracklist.forEach(t => { %>
					<div>
						<p>
							<%= t.position; %> - <b>"<%= t.title; %>"</b>
							<br>
							<!-- ICEBOX Some album don't have t.extraartists, so ... I WANT TO BE ABLE TO DISPLAY THIS STILL EVEN IF SOME DON'T SHOW IT, ONE DAY ...  -->
							<!--
								ejs	t.extraartists.forEach(ea => { ejs
									-- ejsout ea.role ejs - ejsout ea.name ejs<br>
								ejs }) ejs
							-->
						</p>
					</div>
				<% }) %>

				<u><h6>Videos:</h6></u>
				<% album.videos.forEach(v => { %>
					<div>
						<p>
						<b><%= v.title ? v.title : '' %><br></b>
						<iframe width="420" height="315"
							src="https://www.youtube.com/embed/<%= v.uri.slice(-11) %>">
						</iframe>
						</p>
					</div>
				<% }) %>

				
				

				<!-- Everything that comes up connected to the "releases" .get -->
				<H2>(RELEASES)</H2>
				Extra Artists: <h6><%= album.extraartists %></h6> <!-- Returns multiple objects --> 
				Released: <h6><%= album.released %></h6>
				Country: <h6><%= album.country %></h6>
				Labels: <h6><%= album.labels %></h6> <!-- Returns multiple objects --> 
				Artists (sort): <h6><%= album.artists_sort %></h6>
				
			</div>
		</div>

	<!-- Button to add/remove am album to/from our collection -->
	<% if (favoritedBy.some(u => {return u.email === user.email})) { %>
		<form action="/albums/<%= album.id %>/collection?_method=DELETE" method="POST">
		  <% } else { %>
		<form action="/albums/<%= album.id %>/collection" method="POST">
	  <% } %>
	  <input type="text" hidden name="cover_image" value="<%= album.cover_image %>">
	  <input type="text" hidden name="thumb" value="<%= album.thumb %>">
		<input type="text" hidden name="title" value="<%= album.title %>">
		<input type="text" hidden name="year" value="<%= album.year %>">
		<input type="text" hidden name="id" value="<%= album.id %>">
		<input type="text" hidden name="resource_url" value="<%= album.resource_url %>">
		<button class="btn btn-warning"><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
		</form>
</div>
<%- include('../partials/footer') %>
