<%- include('../partials/header') %>
<H2>IF I WANT TO STICK TO SEARCHING FOR ARTISTS</H2>
<!-- .get(
			`https://api.discogs.com/artists/${req.params.id}`
		) -->
<h3>STUFF TO SHOW</h3>
Name:
<h6><%= album.name ? album.name : 'N/A' %></h6>
Images:
<h6><%= album.images %></h6>
<!-- [object Object] -->
Real Name:
<h6><%= album.realname %></h6>
Profile:
<h6><%= album.profile %></h6>
Links:
<h6><%= album.urls %></h6>
Also Goes By:
<h6><%= album.namevariations %></h6>
Read more on Discogs:
<h6><%= album.uri %></h6>

<h3>API NUMBERS & LINKS (can't link to a normal user)</h3>
<h6><%= album.id %></h6>
<h6><%= album.resource_url %></h6>
<h6><%= album.releases_url %></h6>

<H2>IF I WANT TO STICK TO SEARCHING FOR ALBUMS</H2>
<!-- .get(
			`https://api.discogs.com/masters/${req.params.id}`
        ) -->
<!-- also give /releases/ a shot, it still goes by the id... -->
<h3>STUFF TO SHOW</h3>
Album Images:
<h6><%= album.images %></h6>
<!-- [object Object] -->
Genres:
<h6><%= album.genres %></h6>
Styles:
<h6><%= album.styles %></h6>
Year:
<h6><%= album.year %></h6>
TrackList:
<h6><%= album.tracklist %></h6>
<!-- [object Object] -->
By:
<h6><%= album.artists %></h6>
<!-- [object Object] -->
Title:
<h6><%= album.title %></h6>
Liner Notes:
<h6><%= album.notes %></h6>
Watch:
<h6><%= album.videos %></h6>
<!-- [object Object] -->
Read more on Discogs:
<h6><%= album.uri %></h6>

<h3>API NUMBERS & LINKS (can't link to a normal user)</h3>
<h6><%= album.id %></h6>
<h6><%= album.main_release %></h6>
<h6><%= album.most_recent_release %></h6>
<h6><%= album.resource_url %></h6>
<h6><%= album.versions_url %></h6>
<h6><%= album.main_release_url %></h6>
<h6><%= album.main_recent_release_url %></h6>

<h1>MORE DETAILS</h1>
<div class="card" style="width: 36rem">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a
				class="nav-link active"
				id="albuminfo-tab"
				data-toggle="tab"
				href="#albuminfo"
				role="tab"
				aria-controls="albuminfo"
				aria-selected="true"
				>Album Info</a
			>
		</li>
		<!-- This is the tab header for the list of who has the game in their collection -->
		<li class="nav-item">
			<a
				class="nav-link"
				id="favorited-tab"
				data-toggle="tab"
				href="#favorited"
				role="tab"
				aria-controls="favorited"
				aria-selected="false"
				>Favorited By</a
			>
		</li>
		<!-- This is the tab header for reviews -->
		<li class="nav-item">
			<a
				class="nav-link"
				id="reviews-tab"
				data-toggle="tab"
				href="#reviews"
				role="tab"
				aria-controls="reviews"
				aria-selected="false"
				>Reviews</a
			>
		</li>
	</ul>
	<div class="tab-content" id="myTabContent">
		<div
			class="tab-pane fade show active"
			id="albuminfo"
			role="tabpanel"
			aria-labelledby="albuminfo-tab"
		>
			<div class="card-body">
				<h5 class="card-title">FINAL INFO GOES HERE</h5>
			</div>
		</div>
		<!-- This is the tab that will contain our forEach loop indicating who has the game in their collection -->
		<div
			class="tab-pane fade"
			id="favorited"
			role="tabpanel"
			aria-labelledby="favorited-tab"
		>
			<div class="card-body">
				<p>Favorited By:</p>
				<!-- This is where we'll put our favoritedBy.forEach loop -->
			</div>
		</div>
		<!-- This is the tab that holds the review info for a game -->
		<div
			class="tab-pane fade"
			id="reviews"
			role="tabpanel"
			aria-labelledby="reviews-tab"
		>
			<!--This is where we'll put all the info for reviews  -->
			<% let total = 0 %>
<% reviews.forEach(r => { %>
  <% total+= r.rating %>
  <p><%= r.rating %> - <img width="20" id="avatarPhoto" src="<%= r.reviewerPhoto %>" alt=""> <%= r.reviewer %></p>
  <p><%= r.content %></p>
<% }) %>
<p>Rating: <%= (total / reviews.length).toFixed(2) %></p>
<% if (!reviews.some(u => {return u.reviewer === user.name}) && favoritedBy.some(u => {return u.email === user.email})) { %>
  <form action="/albums/<%= albumId %>/reviews" method="POST">
    <div class="form-group">
      <textarea class="form-control" name="content" style="width: 18rem;" id="exampleFormControlTextarea1" placeholder="Leave a Review" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Rating</label>
      <select style="width: 18rem;" class="form-control" name="rating" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
    </div>
    <input type="text" hidden name="reviewer" value="<%= user.name %>">
    <input type="text" hidden name="reviewerPhoto" value="<%= user.avatar %>"> 
    <button class="btn btn-info">Submit</button>
  </form>
<% } %>
		</div>
	</div>

	<!-- This is where we'll put a button to add/remove a game to/from our collection -->
	<% if (favoritedBy.some(u => {return u.email === user.email})) { %>
		<form action="/albums/<%= album.id %>/collection?_method=DELETE" method="POST">
		  <% } else { %>
		<form action="/albums/<%= album.id %>/collection" method="POST">
	  <% } %>
		<input type="text" hidden name="title" value="<%= album.name %>">
		<input type="text" hidden name="id" value="<%= album.id %>">
		<button class="btn btn-warning"><%= favoritedBy.some(u => {return u.email === user.email}) ? "Remove from Collection" : "Add to Collection" %></button>
		</form>
	<!-- This is where we'll put a button to add/remove a game to/from our listenlist -->
	<% if (user.listenList.some(a => {return a.id === album.id})) { %>
		<form action="/albums/<%= album.id %>/listen?_method=DELETE" method="POST">
	  <% } else { %>
		<form action="/albums/<%= album.id %>/listen" method="POST">
	  <% } %>
		<input type="text" hidden name="title" value="<%= album.name %>">
		<input type="text" hidden name="id" value="<%= album.id %>">
		<button class="btn btn-success"><%= user.listenList.some(a => {return a.id === album.id}) ? "Remove from 'To Listen'" : "Add to 'To Listen'" %></button>
	  </form>
</div>
<%- include('../partials/footer') %>
